.body-about {
	// background-color: $black;
	background-image: url(../img/bg_pineapple.jpg);
	background-size: cover;
	background-attachment: fixed;	
}

.about-header {
	position: relative;
	height: 87px;
	width: 100%;
	position: fixed;
	text-align: center;
	margin: 0 auto;
	color: $white;
	background-color: $black;
	top: -10px;
	z-index: 1;
}

.about-nav {
	display: block;
	position: absolute;
	left: -0px;
	top: 20px;
}

.about-nav__list {
	background-color: $white;
	display: none;
	width: 0px;
	animation-name: deslizeMenu;
	animation-duration: 1s;
	position: relative;
	border-radius: 4px;
}

.about-nav__active {
	display: block;
	width: 100px;

}

@keyframes deslizeMenu {
    0%   {left:-100px; top:0px;}
    25%  {left:   0px; top:0px;}
    50%  {left:   0px; top:0px;}
    75%  {left:   0px; top:0px;}
    100% {left:   0px; top:0px;}
}
.about-nav__link {
	display: block;
	font-family: $font-family-poiret;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
	text-decoration: none;
	color: $black;
	font-size: 26px;
	padding: 10px;
}

.hamburger {
	outline: none;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	background-color: $white;
}

.about-title {
	padding: 20px 0;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-family: $font-family-script;
}

.header {
	max-width: 960px;
	height: auto;
	margin: 400px auto 0;
	padding: 10px;
	// box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	color: $white;
}

.about-backgorund {
	padding: 10px;
	background-color: $black;
}

.about-subtitle {
	font-family: $font-family-poiret;
	font-weight: $font-weight-bold;
}

.about-story {
	font-family: $font-family-poiret;
}
.about-people {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.about-people__container {
	position: relative;
	width: 300px;
	height: 600px;
	padding: 0 5px;
	margin: 0 auto;
	display: inline-block;
	background-color: #000000;
	z-index: -0;
}

.about-people__name {
	font-family: $font-family-poiret;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}


@media all and (max-width: 425px) {
	.header {
		margin-top: 150px;
	}
}
