.body-about {
	// background-color: $black;
	background-image: url(../img/fundo/fundo_01.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	margin: 0;
}

.about-header {
	position: relative;
	height: 87px;
	width: 100%;
	position: fixed;
	text-align: center;
	margin: 0 auto;
	color: $white;
	background-color: #f7ea39;
	top: -10px;
	z-index: 1;
}

.about-nav {
	display: block;
	position: absolute;
	text-align: left;
	left: -0px;
	top: 20px;
}

.about-nav__list {
	background-color: $white;
	text-align: left;
	display: none;
	width: 0px;
	animation-name: deslizeMenu;
	animation-duration: 1s;
	position: relative;
	border-radius: 4px;
}

.about-nav__active {
	display: block;
	width: 250px;


}

@keyframes deslizeMenu {
    0%   {left:-100px; top:0px;}
    25%  {left:   0px; top:0px;}
    50%  {left:   0px; top:0px;}
    75%  {left:   0px; top:0px;}
    100% {left:   0px; top:0px;}
}
.about-nav__link {
	display: block;
	font-family: $font-family-poiret;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	color: $black;
	font-size: 26px;
	padding: 10px;
	transition: .3s	; 
}

.hamburger {
	outline: none;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
	background-color: $white;
	box-shadow: 0px 0px 4px #606060;
}

.hamburger-inner::after, .hamburger-inner::before {
	box-shadow: 0px 0px 4px #606060;	
}

.is-active span {
	box-shadow: none;
}

.about-title {
	padding: 20px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	font-family: $font-family-script;
	text-shadow: 0 0 10px #606060;
}

.about-container {
	// max-width: 960px;
	height: auto;
	margin: 400px auto 0;
	padding: 10px 0;
	// box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	color: $white;
}

.about-backgorund {
	padding: 10px;
	background-color: #00ca98;
}

.about-subtitle {
	font-family: $font-family-poiret;
	font-weight: $font-weight-bold;
}

.about-story {
	// font-family: $font-family-poiret;
	font-size: 18px;
}
.about-people {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.about--people__title {
	text-align: left;
}

.about-people__container {
	position: relative;
	width: 300px;
	height: 600px;
	padding: 0 5px;
	margin: 0 auto;
	display: inline-block;
	background-color: #00ca98;
	z-index: -0;
}

.about-people__name {
	font-family: $font-family-poiret;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}

.about-history {
	margin-top: 40px; 
}

.about--footer__text {
	text-align: center;
}

.about--footer_logo {
	font-family: $font-family-script;
}
@media all and (max-width: 465px) {
	.about-container {
		// margin-top: 260px;
	}

	.about-title {
		margin-left: 40px;
	}

	.body-about {
		max-width: 465px;
	}
}
