.body-about {
	// background-color: $black;
	background-image: url(../img/bg_pineapple.jpg);
	background-size: cover;
	background-attachment: fixed;	
}

.about-header {
	position: relative;
	height: 35px;
	text-align: center;
	margin: 0 auto;
	color: $white;
	top: -10px;
	z-index: 1;
}

.about-title {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	position: fixed;
	margin: 0 auto;
	background-color: $black;
	font-family: $font-family-script;
}

.header {
	max-width: 960px;
	height: auto;
	margin: 400px auto 0;
	padding: 10px;
	// box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	color: $white;
}

.about-backgorund {
	padding: 10px;
	background-color: $black;
}

.about-subtitle {
	font-family: $font-family-script;
	font-weight: $font-weight-bold;
}

.about-story {
	font-family: $font-family-poiret;
}
.about-people {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.about-people__container {
	position: relative;
	width: 300px;
	height: 600px;
	padding: 0 5px;
	margin: 0 auto;
	display: inline-block;
	background-color: #000000;
	z-index: -0;
}

.about-people__name {
	font-family: $font-family-script;
	font-weight: $font-weight-bold;
	text-transform: uppercase;
}



