/* Desktop grande */
.body-login {
	background-image: url(../img/bgPineaplle.jpg);
	background-size: cover;
	max-width: 1080px;
	height: 500px;
	margin: 20px auto 0;
	position: relative;
}

.s-fundo-login{
	background: #000000;
	width: 320px;
	height: 420px;
	color: #ffffff;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 15px;
	opacity: 0.5;
	z-index: -1;
}

.s-tela-login{
	width: 320px;
	height: 420px;
	color: #ffffff;
	top: 63%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 150px 30px;
	border-radius: 15px;
	z-index: 1;
}

.s-icon-avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -20px;
	left: calc(50% - 50px);
}

.s-tela-login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.s-tela-login input{
	width: 100%;
	margin-bottom: 20px;
}

.s-form-login input[type="login"], input[type="Password"]{
	outline: hidden;
	border: none;
	border-bottom: 1px solid #ffffff;
	background: transparent;
	height: 40px;
	color: #ffffff;
	font-size: 16px;
}

.s-form-login input[type="button"]{
	outline: hidden;
	border: none;
	height: 40px;
	background-color: #07a79d;
	color: #ffffff;
	font-size: 18px;
	border-radius: 20px;
}

.s-button-login:hover {
	outline: hidden;
}

.s-form-login a{
	outline: hidden;
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
}
.s-menu-mobile{
	display: none;	
}
.s-menu-nav {
	max-width: 900px;
	height: 80px;
	margin: 0  auto;
}

.s-menu-list {
	text-align: right;
}

.s-menu-link {
	text-decoration: none;
	margin: 10px;
	border-bottom: 1px solid #eeeeee;
	padding: 8px 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	font-family: $font-family-roboto;
	transition: background-color .5s;
}

.s-menu-link:hover {
	background-color: #eeeeee;
	color: #606060;
	border-bottom: 4px solid #606060;
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 1999px) {
     /* estilos aqui */
     .body-login {
		max-width: 768px;
		height: 400px;
	}

	.s-fundo-login{
			width: 320px;
			height: 420px;
			top: 60%;
			left: 50%;
			padding: 70px 30px;
	}

	.s-tela-login{
		width: 320px;
		height: 420px;
		top: 73%;
		left: 50%;
	}
	
	.s-icon-avatar{
		top: -20px;
	}

}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
     /* estilos aqui */
     .body-login {
		max-width: 767px;
	}

	.s-fundo-login{
			width: 320px;
			height: 420px;
			top: 60%;
			left: 50%;
			padding: 70px 30px;
	}

	.s-tela-login{
		width: 320px;
		height: 420px;
		top: 73%;
		left: 50%;
	}
	
	.s-icon-avatar{
		top: -20px;
	}

}

/* Telefones em paisagem e abaixo */
@media (max-width: 520px) { 
     /* estilos aqui */

     .body-login {
		max-width: 520px;
		z-index: -1;
	}

	.s-fundo-login{
			width: 320px;
			height: 420px;
			top: 50%;
			left: 50%;
			padding: 70px 30px;
	}

	.s-tela-login{
		width: 320px;
		height: 420px;
		top: 53%;
		left: 50%;
		z-index: -1;
	}
	
	.s-icon-avatar{
		top: -30px;
	}
	.s-menu-nav{
		display: none;
	}
	.s-menu-mobile {
		position: fixed;
		outline: none;
	    display: inline-block;
    	cursor: pointer;
    	background: transparent;
    	border: none;
	}
	.bar1, .bar2, .bar3 {
    	width: 35px;
    	height: 5px;
    	background-color: #fff;
    	box-shadow: 2px;
    	margin: 6px 5px;
	   	transition: 0.6s;
	}

	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
	}
	.s-menu-block{
	margin-top: 12px;
	height: auto;
	max-width: 100%;
	display: inline-block;
	background-color: $black;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	color: $white;
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	z-index: -1;

	}
	.s-menu-block-s{
	color: transparent;
	}
}