
/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
     /* estilos aqui */
 }
 
/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
     /* estilos aqui */
}
 
/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 1999px) {
     /* estilos aqui */
     .body-login {
		background-image: url(../img/bgPineaplle.jpg);
		background-size: cover;
		max-width: 768px;
		height: 400px;
		margin: 20px auto 0;
		position: relative;
	}

	.s-menu-nav {
		max-width: 900px;
		height: 80px;
		margin: 0  auto;
	}

	.s-menu-list {
		text-align: right;
	}

	.s-menu-link {
		text-decoration: none;
		margin: 10px;
		border-bottom: 1px solid #eeeeee;
		padding: 8px 16px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 800;
		font-family: $font-family-roboto;
		transition: background-color .5s;
	}

	.s-menu-link:hover {
		background-color: #eeeeee;
		color: #606060;
		border-bottom: 4px solid #606060;
	}

	.s-fundo-login{
			background: #000000;
			width: 320px;
			height: 420px;
			color: #ffffff;
			top: 60%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			box-sizing: border-box;
			padding: 70px 30px;
			border-radius: 15px;
			opacity: 0.5;
			z-index: -1;
	}

	.s-tela-login{
		width: 320px;
		height: 420px;
		color: #ffffff;
		top: 73%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		padding: 150px 30px;
		border-radius: 15px;
		z-index: 1;
	}
	
	.s-icon-avatar{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: absolute;
		top: -20px;
		left: calc(50% - 50px);
	}
	
	.s-tela-login p{
		margin: 0;
		padding: 0;
		font-weight: bold;
	}

	.s-tela-login input{
		width: 100%;
		margin-bottom: 20px;
	}

	.s-form-login input[type="login"], input[type="Password"]{
		outline: hidden;
		border: none;
		border-bottom: 1px solid #ffffff;
		background: transparent;
		height: 40px;
		color: #ffffff;
		font-size: 16px;
	}

	.s-form-login input[type="button"]{
		outline: hidden;
		border: none;
		height: 40px;
		background-color: #07a79d;
		color: #ffffff;
		font-size: 18px;
		border-radius: 20px;
	}

	.s-button-login:hover {
		outline: hidden;
	}

	.s-form-login a{
		outline: hidden;
		text-decoration: none;
		font-size: 12px;
		line-height: 20px;
		color: darkgray;
	}

}
 
/* Desktop grande */
@media (min-width: 1200px) {
    /* estilos aqui */
	.body-login {
		background-image: url(../img/bgPineaplle.jpg);
		background-size: cover;
		max-width: 1080px;
		height: 500px;
		margin: 20px auto 0;
		position: relative;
	}

	.s-menu-nav {
		max-width: 900px;
		height: 80px;
		margin: 0  auto;
	}

	.s-menu-list {
		text-align: right;
	}

	.s-menu-link {
		text-decoration: none;
		margin: 10px;
		border-bottom: 1px solid #eeeeee;
		padding: 8px 16px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 800;
		font-family: $font-family-roboto;
		transition: background-color .5s;
	}

	.s-menu-link:hover {
		background-color: #eeeeee;
		color: #606060;
		border-bottom: 4px solid #606060;
	}

	.s-fundo-login{
			background: #000000;
			width: 320px;
			height: 420px;
			color: #ffffff;
			top: 60%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			box-sizing: border-box;
			padding: 70px 30px;
			border-radius: 15px;
			opacity: 0.5;
			z-index: -1;
	}

	.s-tela-login{
		width: 320px;
		height: 420px;
		color: #ffffff;
		top: 63%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		padding: 150px 30px;
		border-radius: 15px;
		z-index: 1;
	}
	
	.s-icon-avatar{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		position: absolute;
		top: -20px;
		left: calc(50% - 50px);
	}
	
	.s-tela-login p{
		margin: 0;
		padding: 0;
		font-weight: bold;
	}

	.s-tela-login input{
		width: 100%;
		margin-bottom: 20px;
	}

	.s-form-login input[type="login"], input[type="Password"]{
		outline: hidden;
		border: none;
		border-bottom: 1px solid #ffffff;
		background: transparent;
		height: 40px;
		color: #ffffff;
		font-size: 16px;
	}

	.s-form-login input[type="button"]{
		outline: hidden;
		border: none;
		height: 40px;
		background-color: #07a79d;
		color: #ffffff;
		font-size: 18px;
		border-radius: 20px;
	}

	.s-button-login:hover {
		outline: hidden;
	}

	.s-form-login a{
		outline: hidden;
		text-decoration: none;
		font-size: 12px;
		line-height: 20px;
		color: darkgray;
	}
}