<footer class="t-container s-footer">
  <a class="s-footer__up" data-back href="#home"></a>
    <ul class="s-socials__list">
      <li class="s-socials__item">
        <a href="" class="s-socials__link">
          <img src="{{site.baseurl}}assets/static/facebook.svg" alt="">
        </a>
      </li>
      <li class="s-socials__item">
          <a href="" class="s-socials__link">
            <img src="{{site.baseurl}}assets/static/twitter.svg" alt="">
          </a>
      </li>
      <li class="s-socials__item">
          <a href="https://github.com/LeandroCesarr/pineappleDevs_institucional" target="_blank" class="s-socials__link">
            <img src="{{site.baseurl}}assets/static/git.svg" alt="">
          </a>
      </li>
      <li class="s-socials__item">
          <a href="mailto:pineappleDevs.lf@gmail.com" class="s-socials__link">
            <img src="{{site.baseurl}}assets/static/email.svg" alt="">
          </a>
      </li>
    </ul>
    <p class="s-footer__title"><span class="s-footer__name">pineappleDevs</span> 2018</p>
</footer>
