<footer class="t-container s-footer">
  <div class="s-footer-content ">
    
    <div class="s-footer-content--box">
      <h2>LOGO</h2>
      <div class="s-footer-content--box-text">
        <h3>O que nós fazemos</h3>
        <p>
          Sobre Nós<br>
          Nossos Trabalhos<br>
          O Começo<br>
          Nossa Área<br>
        </p>
      </div>
    </div>
    
    <div class="s-footer-content--box">
      <div class="s-footer-content--box-text">
        <h3>Contact</h3>
        <p>
          Rua Exemplo exemplo<br>
          Nº0000<br>
          Franca<br>
          Sp<br>
          telefone: (00)00000-0000<br>
          <a href="mailto:pineapledevs@gmail.com">pineappledevs@gmail.com</a><br>
        </p>
      </div>
      <div class="s-footer-content--box-img">
        <img src="{{ site.baseurl }}assets/static/map.png" class="footer-map">
      </div>
    </div>
    
    <div class="s-footer-content--box footer-wrap">
      <div class="">
        <a href="#"><img src="{{ site.baseurl }}assets/static/facebook.png" class="footer-wrap"></a>
        <a href="#"><img src="{{ site.baseurl }}assets/static/twitter.png" class="footer-wrap"></a>
        <a href="#"><img src="{{ site.baseurl }}assets/static/gmail.png" class="footer-wrap"></a>
        <a href="#"><img src="{{ site.baseurl }}assets/static/git.png" class="footer-wrap"></a>
      </div>
      
    </div>
    
  </div>
  
  <hr class="t-container">
  
  <div class="s-footer--hr">
    <p class="s-footer-content--rights"> &copy; Todos direitos reservados a &lt PineappleDevs / &gt | 2018</p>
  </div>
</footer>