<footer class="s-footer">
  <div class="s-footer__interface t-container">
    <div class="s-footer__info">
      <img src="{{site.baseurl}}assets/static/logo.png">
      <p>lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit</p>
    </div>
    <div class="s-footer__info">
      <h3 class="s-footer__info-title">Our Studio</h3>
      <img class="s-footer__info-img" src="{{site.baseurl}}assets/static/location.png">
      <p class="s-footer__info-adress">Ruko cucruk, Jl. Radio luar dalem jos<br/> No.12 - 13, Kalideres - Jakarta Barat <br> 11480 - Indonesia</p>
      <img class="s-footer__info-img" src="{{site.baseurl}}assets/static/phone.png">
      <p class="s-footer__info-phone">(+62) 21-2224 3333</p>
    </div>
    <div class="s-footer__info">
      <h3 class="s-footer__info-title">Stay In Touch</h3>
      <form class="s-footer__form">
        <input class="s-footer__info-input" type="text" name="Subscribe our newsletter" placeholder="Subscribe our newsletter">
        <button class="s-footer__info-submit" type="submit"></button>
      </form>
      <div class="s-footer__socials">
        <a href="#"><img class="s-footer__socials-img" src="{{site.baseurl}}assets/static/facebook.png"></a>
        <a href="#"><img class="s-footer__socials-img" src="{{site.baseurl}}assets/static/twitter.png"></a>
        <a href="#"><img class="s-footer__socials-img" src="{{site.baseurl}}assets/static/dribbble.png"></a>
        <a href="#"><img class="s-footer__socials-img" src="{{site.baseurl}}assets/static/instagram.png"></a>
        <a href="#"><img class="s-footer__socials-img" src="{{site.baseurl}}assets/static/gplus.png"></a>
        <a href="#"><img class="s-footer__socials-img" src="{{site.baseurl}}assets/static/youtube.png"></a>
      </div>
    </div>
  </div>
  <div class="s-footer__disclaimer-desktop">
    <div class="t-container s-footer__disclaimer">
      <div class="s-footer__text-legal">
        <a href="#">HELP</a>
        <a href="#">TERMS & CONDITION</a>
        <a href="#">PRIVACY</a>
      </div>
      <div class="s-footer__copyright">
        <p>Copyright &copy; 2015 - Tajem Creative</p>
      </div>
    </div>

    </div>
  </div>
  <div class="s-footer__disclaimer-mobile">
    <div class="t-container s-footer__disclaimer">
      <div class="s-footer__copyright">
        <p>Copyright &copy; 2015 - Tajem Creative</p>
      </div>
      <div class="s-footer__text-legal">
        <div class="s-footer__text-links">
          <a href="#">HELP</a>
          <a href="#">TERMS & CONDITION</a>
          <a href="#">PRIVACY</a>
        </div>
        <div class="s-footer__text-button">
          <button>
            <img src="{{site.baseurl}}assets/static/seta.png">
          </button>
        </div>
      </div>
</footer>
