<div class="s-interface">
  <header class="s-header">
    <div class="t-container">
      <img alt="Tajam" class="s-header_logo" src="{{ site.baseurl }}assets/static/logo.png">
      <nav class="s-header__nav mobile-off">
        <a class="s-header__nav-link" href="#">Home</a>
        <a class="s-header__nav-link" href="#About">About</a>
        <a class="s-header__nav-link" href="#Expertise">Expertise</a>
        <a class="s-header__nav-link" href="#Teams">Teams</a>
        <a class="s-header__nav-link" href="#Works">Works</a>
        <a class="s-header__nav-link" href="#PeopleSay">People Say</a>
        <a class="s-header__nav-link" href="#Contact">Contact</a>
      </nav>
      <button class="s-header__nav-button mobile-on">
        <span class="mobile-on-span">
        </span>
      </button>
    </div>
  </header>
  <section class="s-Hero">
    <div class="t-container">
      <h1 class="s-Hero__h1">We Are Awesome Creative Agency</h1>
      <p class="s-Hero__p">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
      <a class="s-learn__more" href="#">Learn More</a>
    </div>
  </section>
</div>
