<span id="home">&ensp</span>
<header class="header">

  <nav class="header-nav" data-gunshoe-header>

    <button class="hamburger hamburger--elastic" type="button" id="nav-menu-button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="header-nav__list" id="navBox" data-gumshoe>
      <a class="header-nav__link" href="#home" data-offset="0">PineappleDevs</a>
      <a class="header-nav__link" href="#people" data-offset="0">Equipe</a>
      <a class="header-nav__link" href="#history" data-offset="">História</a>
      <a class="header-nav__link" href="#projects" data-offset="0">Projetos</a>
      <a class="header-nav__link" href="#" data-offset="">contato</a>
    </div>
  </nav>

  <h1 class="header-title" data-page-title>
    &lt PineappleDevs / &gt
  </h1>
</header>

