$white: #fff;
$black: #000;

$color-blue: #00e0d0;
$color-gray-light: #e4e3e9;
$color-gray-dark: #817f86;
$color-gray-middle: #c7c0db;
$color-purple-black: #413d4b;

$green-water: #03dac6;
$purple: #6200ee;
$green-bg: #00ca98;
$yellow-bg: #f7eb37;
$dark-yellow-bg: #ccae00;
$green-text: #007f60;
