<section class="s-contact" id="Contact">
  <div class="s-contact__forms">
   <h2>GIVE US A GOOD NEWS</h2>
   <form>
     <input id="nome" type="text" name="Name" placeholder="Nome">
     <input type="Email" name="Email" placeholder="Email">
     <input type="text" name="Subject" placeholder="Subject">
     <textarea type="text" name="Your Message" placeholder="Your Message"></textarea>
     <button class="s-contact__forms-button" type="submit">Submit</button>
   </form>
 </div>
 <div class="s-contact__images">
   <h2 class="s-contact__title-images">OUR HAPPY CLIENT</h2>
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/zara_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/mango_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/barneys-newyork_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/gucci_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/calvin-klein_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/nike_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/converse_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/puma_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/levis_logo.png">
   <img class="s-contact__images-list" src="{{site.baseurl}}assets/static/Billabong_logo.png">
 </div>
</section>
