<section class="s-expertise" id="Expertise">
  <div class="s-expertise__header">
    <h2 class="s-expertise__title">Expertise</h2>
    <p class="s-expertise__subtitle">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
  </div>
  <div class="s-expertise__blocs">
    <div class="s-expertise__blocs-list">
      <img class="s-expertise__img" src="{{site.baseurl}}assets/static/pc__icon.png">
      <h3 class="s-expertise__blocs-title">Web Design & Development</h3>
      <p class="s-expertise__blocs-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
    </div>
    <div class="s-expertise__blocs-list">
      <img class="s-expertise__img" src="{{site.baseurl}}assets/static/pincel__icon.png">
      <h3 class="s-expertise__blocs-title">Branding Identity</h3>
      <p class="s-expertise__blocs-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
    </div>
    <div class="s-expertise__blocs-list">
      <img class="s-expertise__img" src="{{site.baseurl}}assets/static/phone__icon.png">
      <h3 class="s-expertise__blocs-title">Mobile App</h3>
      <p class="s-expertise__blocs-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
    </div>
    <div class="s-expertise__blocs-list">
      <img class="s-expertise__img" src="{{site.baseurl}}assets/static/radio__icon.png">
      <h3 class="s-expertise__blocs-title">Search Engine Optimization</h3>
      <p class="s-expertise__blocs-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
    </div>
    <div class="s-expertise__blocs-list">
      <img class="s-expertise__img" src="{{site.baseurl}}assets/static/game__icon.png">
      <h3 class="s-expertise__blocs-title">Game Development</h3>
      <p class="s-expertise__blocs-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
    </div>
    <div class="s-expertise__blocs-list">
      <img class="s-expertise__img" src="{{site.baseurl}}assets/static/heart__icon.png">
      <h3 class="s-expertise__blocs-title">Made With Love</h3>
      <p class="s-expertise__blocs-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
    </div>
  </div>
</section>
