<section class="s-our-works" id="Works">
  <div class="s-our-works-header">
    <h4 class="s-our-works-title">Our Works</h4>
    <a href="#" class="s-our-works-link">See All Project in dribbble</a>
  </div>
  <div class="s-our-works-images">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-1.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-2.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-3.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-4.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-5.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-6.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-7.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-8.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-9.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-10.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-11.png">
    <img class="s-our-works-img" src="{{site.baseurl}}assets/static/our-work-12.png">
  </div>
  <a class="s-our-works-learn" href="#">Load More</a>
</section>
