<section class="t-container s-projects" id="projects">
  
  <h2 class="s-projects--title">Nossos Projetos</h2>
  
  <div class="s-projects--box" data-aos="fade-right">
    <img src="{{site.baseurl}}assets/static/project_01.jpg" alt="">
    <div class="s-projects--box__about" >
      <h4 class="s-projects--box__title">Questionário Socioeconômico</h4>
      <p>Quis ipsum id aliquip ex ex laboris laborum id nulla dolore fugiat laborum nostrud. Quis culpa ad Lorem laborum cupidatat deserunt duis ea culpa ipsum officia veniam eu. Exercitation et ad officia cillum sunt velit ullamco proident.Quis ipsum id aliquip ex ex laboris laborum id nulla dolore fugiat laborum nostrud. Quis culpa ad Lorem laborum cupidatat deserunt duis ea culpa ipsum officia veniam eu. Exercitation et ad officia cillum sunt velit ullamco proident. Commodo qui labore reprehenderit officia aliquip fugiat est sit aliqua.</p>
      
      <a href="https://leandrocesarr.github.io/Questionario-SocioEconomico/index.html" target="_blank" class="s-projects--box__link">Acesse aqui!</a>
    </div>
  </div>
  
  <div class="s-projects--box" data-aos="fade-right">
    <img src="{{site.baseurl}}assets/static/300x350.jpg" alt="" >
    <div class="s-projects--box__about">
      <h4 class="s-projects--box__title">Lorem Ipsum</h4>
      <p>Quis ipsum id aliquip ex ex laboris laborum id nulla dolore fugiat laborum nostrud. Quis culpa ad Lorem laborum cupidatat deserunt duis ea culpa ipsum officia veniam eu. Exercitation et ad officia cillum sunt velit ullamco proident. Commodo qui labore reprehenderit officia aliquip fugiat est sit aliqua.Quis ipsum id aliquip ex ex laboris laborum id nulla dolore fugiat laborum nostrud. Quis culpa ad Lorem laborum cupidatat deserunt duis ea culpa ipsum officia veniam eu. Exercitation et ad officia cillum sunt velit ullamco proident.</p>
      
      <a href="#" target="_blank" class="s-projects--box__link">Acesse aqui!</a>
    </div>
  </div>
</section>