<section class="s-say" id="PeopleSay">
  <div class="s-say__header">
    <img class="s-say__header-img" src="{{site.baseurl}}assets/static/aspas.png">
    <p class="s-say__header-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
    <h3 class="s-say__name">Jane Galardiel</h3>
    <h5 class="s-say__job">CEO TENGKUREP</h5>
  </div>
  <div class="s-say__nav">
    <img class="s-say__people" src="{{site.baseurl}}assets/static/back.png">
    <img class="s-say__people" src="{{site.baseurl}}assets/static/people-1.png">
    <img class="s-say__people" src="{{site.baseurl}}assets/static/people-2.png">
    <img class="s-say__people" src="{{site.baseurl}}assets/static/people-3.png">
    <img class="s-say__people" src="{{site.baseurl}}assets/static/people-4.png">
    <img class="s-say__people" src="{{site.baseurl}}assets/static/people-5.png">
    <img class="s-say__people" src="{{site.baseurl}}assets/static/forward.png">
  </div>
</section>
