<section class="s-team__bg" id="Teams">
  <div class="s-team">
    <h2 class="s-team__title">Meet Our Amazing Team</h2>
    <h4 class="s-team__subtitle">Lorem ipsum dolor sit amet proin gravida nibh vel velit</h4>
    <div class="s-team__people">
      <img src="{{site.baseurl}}assets/static/team_people.png">
      <h4 class="s-team__people-name">Semf Ucuk</h4>
      <p class="s-team__people-job">CEO & Foundp</h3>
      </div>
      <div class="s-team__people">
        <img src="{{site.baseurl}}assets/static/team_people.png">
        <h4 class="s-team__people-name">Dik Adalin</h4>
        <p class="s-team__people-job">Engineering</p>
        </div>
        <div class="s-team__people">
          <img src="{{site.baseurl}}assets/static/team_people.png">
          <h4 class="s-team__people-name">Jeng Kol</h4>
          <p class="s-team__people-job">Designer</p>
        </div>
        <div class="s-team__people">
          <img src="{{site.baseurl}}assets/static/team_people.png">
          <h4 class="s-team__people-name">Pet Romak</h4>
          <p class="s-team__people-job">Marketing</p>
        </div>
        <p class="s-team__text-desktop">Become part of our dream team, let’s join us ! </p>
        <a class="s-team__link-desktop" href="#">We Are Hiring</a>
        <a class="s-team__link-mobile" href="#">LEARN MORE</a>
        <p class="s-team__text-mobile">Become part of our dream team, let’s join us ! </p>
      </div>
    </section>
