@font-face {
  font-family: 'exemple-font-icons';
  src: url("../fonts/exemple-font-icons.eot?4e718r");
  src:
    url("../fonts/exemple-font-icons.eot?4e718r#iefix") format("embedded-opentype"),
    url("../fonts/exemple-font-icons.ttf?4e718r") format("truetype"),
    url("../fonts/exemple-font-icons.woff?4e718r") format("woff"),
    url("../fonts/exemple-font-icons.svg?4e718r#exemple-font-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

$style-icons-map: (
  close: "\e900",
  mark: "\e901",
  tel: "\e902",
  go-to: "\e903"
);

@mixin icon($icon) {
  content: map-get($style-icons-map, $icon);
  font-family: "exemple-font-icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
