.s-footer {
  color: #007f60;
  font-size: 15px;
  font-weight: bolder;
}

.s-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.s-footer-content--box {
  margin: 25px 20px;
  text-align: left;

  &:nth-child(2) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.s-footer-content--rights {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.footer-map {
  padding-top: 20px;
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
}
