.s-footer {
  padding: 20px 0 30px;
  color: $green-text;
  font-family: $font-family-main;
  position: relative;
}

.s-footer__up {
  border: 2px solid $green-text;
  background: url('../images/arrow-up-solid.svg') center center no-repeat;
  background-size: 80%;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: block;
  outline: none;
  cursor: pointer;
  margin: 10px auto;
}

.s-footer__title {
  margin: 10px 0;
  font-size: 22px;
}

.s-footer__name {
  font-family: serif;
  font-family: $font-family-script;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.s-socials__list {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid $green-text;
  position: relative;

  // &::after,
  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   background: $green-text;
  //   height: 40px;
  //   width: 1px;
  // }

  // &::before {
  //   left: 7px;
  //   bottom: -1px;
  //   transform: rotate(20deg);
  // }

  // &::after {
  //   right: 7px;
  //   bottom: -1px;
  //   transform: rotate(-20deg);
  // }
}

.s-socials__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 3vw;
  }

  img {
    height: 40px;
    width: 40px;
  }
}
