.s-footer {
  margin-top: 20px;
  padding: 10px 0;
  color: $green-text;
  font-family: $font-family-main;
  position: relative;
  border-top: 2px solid $green-text;
}

.s-footer__up {
  border: 2px solid $green-text;
  background: url('../images/arrow-up-solid.svg') center center no-repeat;
  background-size: 80%;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: block;
  outline: none;
  cursor: pointer;
  margin: 10px auto;
}

.s-footer__title {
  margin: 10px 0;
  font-size: 16px;
}

.s-footer__name {
  font-family: $font-family-script;
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
}

.s-socials__list {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  border-bottom: 2px solid $green-text;
  position: relative;
}

.s-socials__item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 3vw;
  }
}

.s-socials__link {
  font-size: 0;
  display: inline-block;

  img {
    height: 40px;
    width: 40px;
  }
}
