.s-projects {
  text-align: center;
}

.s-projects--box {
  display: inline-block;
  margin: 10px auto;
  text-align: center;
}

.s-projects--box__about {
  display: inline-block;
  max-width: 560px;
  margin: 10px;
  vertical-align: top;
  text-align: left;
}

@include respond-to(mobile-tablet) {
  .s-projects--box__about {
    max-width: 325px;
  }
}
