.s-summary {
  margin-top: 42vw;
}

.s-summary--description {
  font-family: $font-family-main;
  color: #eee;
  font-size: 14px;
  text-align: left;
}

@include respond-to(mobile-tablet) {
  .s-summary {
    margin-top: 78vw;
  }
}

@include respond-to(tablet) {
  .s-summary {
    margin-top: 50vw;
  }
}
