.s-summary {
  margin-top: 42vw;
}

.s-summary--title {
  font-size: 35px;
  padding-top: 6px;
  font-weight: $font-weight-bold;
  font-family: $font-family-poiret;
  color: $green-text;
}

.s-summary--description {
  font-family: $font-family-main;
  color: #eee;
  font-size: 14px;
}

@include respond-to(mobile-tablet) {
  .s-summary {
    margin-top: 78vw;
  }
}

@include respond-to(tablet) {
  .s-summary {
    margin-top: 50vw;
  }
}
