<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f7eb37">
  <title>pineappleDevs</title>
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">
  <link rel="icon" type="image/png" href="assets/static/favicon.png">
  <!-- <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' /> -->
</head>
<body class="s-body">
  <main class="main">
    {% include header.html %}
    <div class="t-background-green">
      {{ content }}
    </div>
    <div class="t-background-yellow">
      {% include footer.html %}
    </div>
  </main>
  <script src="{{ site.baseurl }}assets/js/vendor.js"></script>
  <script src="{{ site.baseurl }}assets/js/main.js"></script>
</body>
</html>
