.s-contact {
  max-width: 960px;
  margin: 40px auto 0;
  font-family: $font-family-secondary;
  color: $color-purple-black;
  font-size: 18px;
  font-weight: $font-weight-bold;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.s-contact div {
  vertical-align: top;
}

.s-contact__forms {
  max-width: 480px;
  position: relative;
  display: inline-block;
}

.s-contact__forms input,
textarea {
  width: 460px;
  padding: 15px 0 15px 10px;
  display: block;
  margin: 15px 0;
  border: 1px solid $color-gray-middle;
}

.s-contact__forms textarea {
  height: 200px;
}

.s-contact__forms-button {
  border: 1px solid $color-blue;
  border-radius: 2px;
  color: $color-blue;
  background-color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  margin-bottom: 40px;
}

.s-contact__images {
  max-width: 480px;
  position: relative;
  text-align: center;
  display: inline-block;
}

.s-contact__title-images {
  text-align: left;
  margin-left: 105px;
}

.s-contact__images-list {
  width: 140px;
  padding: 20px;
  margin: 0 10px;
}

@include respond-to(mobile-tablet) {
  .s-contact {
    text-align: center;
  }

  .s-contact__forms {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  .s-contact__forms input,
  textarea {
    width: 310px;
    margin: 20px auto;
  }

  .s-contact__forms-button {
    display: block;
    margin: 0 auto 40px !important;
  }

  .s-contact__title-images {
    text-align: center;
    margin: 45px auto;
  }
}
