.s-footer__disclaimer-mobile {
  display: none;
}

.s-footer {
  clear: both;
  background-image: url(../images/bg_footer.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 360px;
  color: $color-gray-middle;
  position: relative;
}

.s-footer__info {
  width: 310px;
  vertical-align: top;
  display: inline-block;
  padding: 50px 20px 80px;
}

.s-footer__info:nth-child(1) {
  font-size: 14px;
  font-family: $font-family-main;
  font-weight: $font-weight-minimum;
  text-indent: justify;
}

.s-footer__info-title {
  color: $color-white;
}

.s-footer__info-adress {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}

.s-footer__info-input {
  background: none;
  border: 1px solid $color-gray-dark;
  padding: 10px 8px;
  margin-bottom: 30px;
  vertical-align: top;
  color: $color-gray-dark;
}

.s-footer__info-phone {
  display: inline-block;
  vertical-align: middle;
}

.s-footer__info-submit {
  background-color: rgba(160, 154, 179, 0.2);
  background-image: url(../images/button-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 26px 24px 14px;
  display: inline;
}

.s-footer__socials-img {
  margin: 0 2px;
}

.s-footer__disclaimer div {
  display: inline-block;
}

.s-footer__text-legal {
  width: 70%;
}

.s-footer__text-legal a {
  padding: 10px;
  text-decoration: none;
  color: $color-gray-middle;
  font-family: $font-family-main;
  font-size: 14px;
}

.s-footer__copyright {
  text-align: right;
}

@include respond-to(mobile-tablet) {
  .s-footer {
    height: 650px;
  }

  .s-footer__info-img {
    margin: 0 10px;
  }

  .s-footer__disclaimer-desktop {
    display: none;
  }

  .s-footer__disclaimer-mobile {
    display: block;
  }

  .s-footer__info {
    display: block;
    width: 300px;
    padding: 10px 0 0;
    margin: 0 auto;
  }

  .s-footer__info-title {
    text-align: center;
  }

  .s-footer__form {
    margin: 0 auto;
  }

  .s-footer__info-input {
    padding-right: 42px !important;
  }

  .s-footer__div-images {
    margin: 0 auto;
    text-align: center;
  }

  .s-footer__disclaimer div {
    display: block;
  }

  .s-footer__copyright {
    text-align: center;
  }

  .s-footer__text-legal {
    width: 320px;
    margin: 10px auto;
    font-weight: $font-weight-bold;
    color: $color-white;
  }

  .s-footer__text-legal div {
    display: inline-block;
    vertical-align: middle;
  }

  .s-footer__text-links {
    width: 160px;
  }

  .s-footer__text-button {
    width: 150px;
    height: 48px;
    text-align: center;
  }

  .s-footer__text-button button {
    width: 40px;
    height: 40px;
    border-radius: 360px;
    background: none;
    border: 1px solid $color-white;
  }

  .s-footer__text-legal a {
    display: block;
    padding: 0 10px !important;
  }
}
