.s-interface {
  background-image: url(../images/bg_interface.jpg);
  position: relative;
  margin: 0 auto;
  padding-bottom: 130px;
  height: 672px;
}

.mobile-on {
  display: none;
}

.s-header {
  font-family: $font-family-main;
  position: relative;
  margin: auto;
  padding-top: 10px;
}

.s-header__nav {
  position: relative;
  width: 500px;
  float: right;
  margin-top: 20px;
}

.s-header__nav::after {
  clear: both;
}

.s-header__nav-link {
  text-decoration: none;
  color: $color-white;
  text-transform: uppercase;
  padding: 6px;
  font-weight: $font-weight-bold;
  font-size: 13px;
}

.s-header a:hover {
  color: $color-blue;
}

.s-Hero {
  text-align: center;
  color: $color-white;
  max-width: 775px;
  margin: 0 auto;
}

.s-Hero__h1 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-black;
  margin: 80px 30px 10px;
  font-size: 32px;
}

.s-Hero__h1::after {
  content: "";
  border-bottom: 2px solid $color-blue;
  padding-top: 10px;
  display: block;
  width: 50px;
  margin: 0 auto;
}

.s-Hero__p {
  margin: 20px 30px 40px;
  font-family: $font-family-main;
  font-weight: $font-weight-regular;
  font-size: 14;
  color: $color-gray-light;
}

.s-learn__more {
  text-decoration: none;
  border: 1px solid $color-blue;
  color: $color-blue;
  padding: 8px 14px;
  border-radius: 2px;
  margin: 6px;
}

@include respond-to(mobile) {
  .mobile-off {
    display: none;
  }

  .mobile-on {
    display: inline-block;
    float: right;
    margin: 30px 30px 0;
  }

  .mobile-on {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid $color-white;
    background-color: $color-white;
    position: relative;
  }

  .mobile-on:focus {
    outline: none;
  }

  .mobile-on-span {
    display: inline-block;
    margin: 0 auto;
    width: 32px;
    height: 3px;
    background-color: $color-blue;
    position: absolute;
    top: 12px;
    left: 8px;
  }

  .mobile-on-span::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 3px;
    border-top: 3px solid $color-blue;
    top: 22px;
    right: 0;
  }

  .mobile-on-span::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 3px;
    border-top: 3px solid $color-blue;
  }

  .s-Hero__h1 {
    margin: 30px 20px 10px;
    font-size: 18px;
  }

  .s-Hero__p {
    margin: 20px 10px 40px;
    font-size: 16px;
    font-weight: $font-weight-minimum;
  }

  .s-header_logo {
    padding: 20px 0 0 15px;
  }
}

@include respond-to(mobile-tablet) {
  .s-interface {
    padding-bottom: 0;
    height: 420px;
  }
}
