* {
  box-sizing: border-box;

  .header {
    height: 87px;
    width: 100%;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    color: $white;
    background-color: #f7ea39;
    top: -10px;
    z-index: 1;
  }

  .header-nav {
    display: block;
    position: absolute;
    text-align: left;
    left: 0;
    top: 20px;
  }

  .header-nav__list {
    background-color: $yellow-bg;
    text-align: left;
    position: absolute;
    width: 256px;
    height: 110vh;
    top: -20px;
    transition-duration: 0.6s;
    border-radius: 4px;
    transform: translateX(-300px);
    z-index: 1;
    padding: 77px 10px 0;
  }

  .header-nav__active {
    // display: block;
    transform: translateX(0);
    border-right: 2px solid $green-bg;
  }

  .header-nav__link {
    display: block;
    font-family: $font-family-poiret;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: $black;
    font-size: 26px;
    padding: 10px;
    margin: 10px;
    transition-duration: 0.6s;

    &:first-child {
      border-top: 1px solid $green-bg;
      border-bottom: 1px solid $green-bg;
      padding: 20px 0;
    }
  }

  .hamburger {
    outline: none;
    // margin-top: 8px;
    position: absolute;
    z-index: 2;
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: $green-text;
    // box-shadow: 0px 0px 4px #606060;
  }

  .is-active span {
    box-shadow: none;
  }

  .header-title {
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    font-family: $font-family-script;
    // text-shadow: 0 0 10px #606060;
    color: $green-text;

    &::after {
      content: '_ ';
      opacity: 1;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 5px;
      font-size: 26px;
      animation: test 0.7s infinite;
    }

    @keyframes test {
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }

      0% {
        opacity: 1;
      }
    }
  }
}
