.s-say {
  background-image: url(../images/bg_say.png);
  height: 501px;
}

.s-say__header {
  max-width: 775px;
  margin: 0 auto;
  text-align: center;
  color: $color-white;
}

.s-say__name {
  font-family: $font-family-main;
  font-size: 19px;
  font-weight: $font-weight-black;
  margin: 40px 0 5px;
}

.s-say__job {
  font-family: $font-family-main;
  font-size: 12px;
  font-weight: 100;
  margin-top: 0;
  color: $color-gray-middle;
}

.s-say__header-img {
  margin: 70px auto 20px;
}

.s-say__header-text {
  font-size: 16px;
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  letter-spacing: 1px;
  color: $color-gray-middle;
}

.s-say__nav {
  text-align: center;
}

.s-say__people {
  margin: 30px 8px;
}

.s-say__people:nth-child(1) {
  margin-bottom: 40px;
}

.s-say__people:nth-child(7) {
  margin-bottom: 40px;
}

.s-say__people:nth-child(4) {
  margin: 30px 8px 20px;
}

@include respond-to(mobile) {
  .s-say__div-img {
    margin: 20px auto;
  }

  .s-say__div-nav {
    width: auto;
    height: 115px;
  }

  .s-say__people {
    width: 40px;
    margin: 30px 4px !important;
  }

  .s-say__people:nth-child(1) {
    width: 11px;
    margin-bottom: 40px !important;
  }

  .s-say__people:nth-child(7) {
    width: 11px;
    margin-bottom: 40px !important;
  }

  .s-say__people:nth-child(4) {
    width: 55px;
  }
}
