.s-team__bg {
  background-image: url(../images/bg__team.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 712px;
}

.s-team {
  max-width: 966px;
  margin: 0 auto;
  color: $color-white;
  text-align: center;
}

.s-team__title {
  padding-top: 92px;
  font-weight: $font-weight-bold;
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-family-secondary;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.s-team__subtitle {
  font-size: 14px;
  font-weight: $font-weight-regular;
  color: $color-white;
  font-family: $font-family-secondary;
  letter-spacing: 2px;
}

.s-team__subtitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 20px;
  border-bottom: 2px solid $color-gray-dark;
  margin: 0 auto;
}

.s-team__people {
  position: relative;
  display: inline-block;
  width: 222px;
  height: 310px;
  margin: 8px;
  border: 1px solid $color-white;
  font-family: $font-family-main;
}

.s-team__link-desktop {
  position: relative;
  text-decoration: none;
  font-weight: $font-weight-bold;
  font-size: 16px;
  padding: 10px 20px;
  color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: 2px;
  display: block;
  width: 180px;
  margin: 0 auto;
}

.s-team__link-mobile {
  position: relative;
  text-decoration: none;
  font-weight: $font-weight-bold;
  font-size: 16px;
  padding: 10px 20px;
  color: $color-blue;
  border: 2px solid $color-blue;
  border-radius: 2px;
  display: none;
  width: 180px;
  margin: 0 auto;
}

.s-team__people-name {
  margin-bottom: 0;
  font-weight: $font-weight-black;
  font-size: 18px;
}

.s-team__people-job {
  font-weight: $font-weight-minimum;
  margin-top: 0;
  font-size: 16px;
  color: $color-gray-dark;
}

.s-team__text-desktop {
  margin: 86px 0 34px;
  font-family: $font-family-main;
  font-size: 14px;
  font-weight: $font-weight-minimum;
  color: $color-gray-light;
}

.s-team__text-mobile {
  display: none;
}

@include respond-to(tablet) {
  .s-team {
    max-width: 639px;
    height: 1020px;
  }

  .s-team__bg {
    height: 1060px;
  }
}

@include respond-to(mobile) {
  .s-team {
    max-width: 639px;
    max-height: 1700px;
  }

  .s-team__bg {
    height: 1700px;
  }

  .s-team__text-desktop {
    display: none;
  }

  .s-team__text-mobile {
    display: block;
    margin: 36px 40px 10px;
    font-size: 20px;
    color: $color-gray-light;
    font-weight: $font-weight-minimum;
  }

  .s-team__link-mobile {
    display: block;
    margin-top: 40px;
  }

  .s-team__link-desktop {
    display: none;
  }

  .s-team__people {
    display: block;
    margin: 0 auto 40px;
  }

  .s-team__title {
    padding-top: 20px;
  }
}
