.s-watch__video {
  max-width: 960px;
  margin: auto;
  color: $color-white;
  font-family: $font-family-main;
  position: relative;
  top: 200px;
  text-align: center;
  font-weight: $font-weight-black;
}

.s-watch__video-bg {
  background-image: url(../images/bg_watch-video.jpg);
  height: 550px;
}
